<h1>{{ heroe.nombre }} <small>{{ heroe.aparicion }}</small></h1>
<hr />
<div class="row animated fadeIn fast">

  <div class="col-md-4">
    <img class="img-fluid" [src]="heroe.img" alt="" />
    <br /><br />
    <a class="btn btn-outline-danger btn-block" [routerLink]="['/heroes']">Regresar</a>
  </div>

  <div class="col-md-8">
    <h3>{{ heroe.nombre }}</h3>
    <hr />
    <p>
      {{ heroe.bio }}
    </p>
    <div *ngIf="heroe.casa == 'DC'; else Marvel">
      <img class="img-fluid" src="assets/img/DC.png" width="60px" height="60px" alt="DC" />
    </div>
    <ng-template #Marvel>
      <img class="img-fluid" src="assets/img/Marvel.png" width="60px" height="60px" alt="Marvel" />
    </ng-template>
  </div>

</div>
