<div class="container">
    <button class="btn btn-left hide">
        <img src="../../../assets/img/arrowleft.png" alt="">
    </button>
    <div class="carousel-container">
        <ul class="carousel">
            <li class="slide">
                <div class="slide-container">
                    <img class="img-slide" src="../../../assets/img/lead-image-105.png" alt="">
                    <p>slide 1</p>
                </div>
                <div class="slide-container">
                    <img class="img-slide-carousel" src="../../../assets/img/lead-image-106.png" alt="">
                    <p>slide 2</p>
                </div>
                <div class="slide-container">
                    <img class="img-slide-carousel" src="../../../assets/img/lead-image-107.png" alt="">
                    <p>slide 3</p>
                </div>
                <div class="slide-container">
                    <img class="img-slide-carousel" src="../../../assets/img/lead-image-108.png" alt="">
                    <p>slide 4</p>
                </div>
                <div class="slide-container">
                    <img class="img-slide-carousel" src="../../../assets/img/lead-image-105.png" alt="">
                    <p>slide 5</p>
                </div>
                <div class="slide-container">
                    <img class="img-slide-carousel" src="../../../assets/img/lead-image-106.png" alt="">
                    <p>slide 6</p>
                </div>
            </li>
        </ul>
    </div>
    <button class="btn btn-rigth">
        <img src="../../../assets/img/arrowrigth.png" alt="">
    </button>
</div>
